.nav{
    display: FLEX;
    justify-content: space-between;

}
.nav h1{
    font-size: 40px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.nav h1:hover{
    font-size: 50px;
    padding: 0;
    transition: 0.2s;

}
.nav ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0px;
    padding: 0;
}
.nav li{
    padding-left: 15px;
    padding-top: 15px;
}
.nav li a{
    text-decoration: dotted;
    color: black;
}
.nav li a:hover{
    text-decoration: dotted;
    color: rgb(255, 255, 255);
    background-color: black;
    display: inline; 
    padding: 10px;
    transition: 0.2s;
}
.nav .navsearch{
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.nav .navsearch input{
    flex: 1;
    height: 30px;
    border-right: 0;
    border: 1px solid white;
    margin-top: 5px;

}


.nav .navsearch button{
    height: 35px;
    border-right: 0;
    border: 1px solid white;
    color: white;
    background-color: black;
    padding: 10px;
    margin-top: 5px;
}
.nav .navsearch button:hover{
    width: 80px;
    transition: 0.2s;
}
    